<% include ./../../../helpers/filter-status %>
<% include ./../../../helpers/action %>
<% include ./../../../helpers/pagination %>
<% include ./../../../helpers/status %>
<% include ./../../../helpers/special %>
<% include ./../../../helpers/highlight %>
<% include ./../../../helpers/source-by %>
<% include ./../../../helpers/checkbox %>
<% include ./../../../helpers/statusOrder %>
<% include ./../../../helpers/renderPay %>
<% include ./../../../helpers/ordersRender %>
<% include ./../../../helpers/dateOrder %>
<% include ./../../../elements/notify %>


<%
	const linkPrefix = systemConfig.prefixAdmin + `/shop/${controllerName}/`;
	const folder = 'uploads/article/';
	let solo = 1
%>

<div class="card card-info card-outline">
	<div class="card-header">
		<h6 class="card-title">Search & Filter</h6>
		<div class="card-tools">
			<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
				<i class="fas fa-minus"></i></button>
		</div>
	</div>
	<div class="card-body">
		<div class="row justify-content-between">
		</div>
	</div>
</div>

<div class="card card-info card-outline">
	<div class="card-header">
		<h4 class="card-title">List</h4>
		<div class="card-tools">
			<a href="#" class="btn btn-tool"><i class="fas fa-sync"></i></a>
			<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
		</div>
	</div>

	<div class="card-body">
		<!-- Control -->
		<form action="" method="post" class="table-responsive" id="zt-form">
			
			<!-- List Content -->
		
			<table class="table table-bordered table-hover text-nowrap btn-table mb-0">
				<thead>
					<tr>
						<th class="text-center">
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input cbAll" type="checkbox" id="check-all">
								<label for="check-all" class="custom-control-label"></label>
							</div>
						</th>
						<th class="text-center">#</th>
						<th class="text-center" style="width: 100px;">Code Check</th>
						<th class="text-center">Orders</th>
						<th class="text-center">Customer</th>
						<th class="text-center">Status</th>
						<th class="text-center">Created</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
						<% items.forEach(item =>{ %>
							<tr>
								<td class="text-center"><%- checkboxHelper(item._id) %></td>
								<td class="text-center"><%= solo++ %></td>
								<td class="text-center"><%= item.code %></td>
								<td style="width: 280px;">
									<%- helperRenderOrder(item.cart, item.codePromo,item.lastPrice,item.infoCutomer) %>
								</td>
								<td style="width: 250px;">
									<%- helperRenderPayMethod(item) %>
								</td>
								<td class="text-center">
									<%- helperStatusOrder(order_status,item.status,item._id,linkPrefix) %>
								</td>
								<td>
									<%- helperDateOrder(item.created) %>
								</td>
								<td>
									<a href="<%= linkPrefix %>detele/<%= item._id %>" class="rounded-circle btn btn-sm btn-danger" title="Delete">
										<i class="fas fa-trash-alt"></i>
									</a>
								</td>
							</tr>
						<% }) %>
				</tbody>
			</table>
		</form>
	</div>
	<div class="card-footer clearfix">
	</div>
</div>
